<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

    <!--服务名称-->
    <dubbo:application name="tms-system-service-scenic-provider"/>
    <!--注册中心地址-->
    <dubbo:registry address="zookeeper://192.168.1.27:2181"/>
    <!--服务所在地址-->
    <dubbo:protocol host="192.168.1.159" name="dubbo" port="20882"/>
    <!--自动扫描@Service注解-->
   <!-- <dubbo:annotation package="com.kaishengit.tms.service.impl"/>-->
    <bean id="scenicService" class="com.kaishengit.tms.service.impl.ScenicServiceImpl"/>
    <dubbo:service interface="com.kaishengit.tms.service.ScenicService" ref="scenicService" version="1.0"/>

    <bean id="ticketStorageService" class="com.kaishengit.tms.service.impl.TicketStorageServiceImpl"/>
    <dubbo:service interface="com.kaishengit.tms.service.TicketStorageService" ref="ticketStorageService" version="1.0" timeout="150000"/>



</beans>